<p style="color: green"><%= notice %></p>

<div class="p-6">
<h1 style="color: black">Categories</h1>


<%= link_to "New category", new_category_path, class: "btn btn-info" %>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% num = 1 %>
    <% @categories.each do |category| %>
    <tr>
      <th scope="row"><%= num %></th>
      <td><%= category.name %></td>
      <td><%= category.description %></td>
      <td class="btn-group"><%= link_to "Edit", edit_category_path(category), class: "btn btn-outline-success" %>
      <%= button_to "Delete", category, :method =>  'delete',
      form: {data: {turbo_confirm: 'Are you sure?'}}, class: "btn btn-outline-warning mx-1" %>
      <%= link_to "Operations", category_operations_path(category), class: "btn btn-outline-success" %></td>
    </tr>
    <% num += 1 %>
    <% end %>
 </tbody>
</table>
</div>

<%= paginate @categories %>


